@mixin anclas {
    text-decoration: none;
    color: white;
}


.miLogo {
    width: 100px;
    margin-left: 15px;
}

body {
    overflow-x: hidden;
}

.navbar-brand {
    font-family: 'Dosis', sans-serif;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 3rem;
    text-align: center;
}

.navbar-expand-lg {
    background-color: $color-celeste;
}

.navbar-nav a {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background-color: $color-verde;
        color: white;
        border-radius: 10px;
    }
}

.navbar-toggler {
    border: none;
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }
}

.index {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    h5 {
        text-shadow: 2px 2px 2px black;
        font-size: 2vw;
        font-size: 1.4rem;
    }

    a {
        text-decoration: none;
        color: $color-verde;
    }
}

.carousel {
    margin-top: 4rem;
    width: 1000px;
}

.carousel-item,
.carousel-inner {
    width: 100%;
    height: auto;
}

a {
    @include anclas;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

p {
    margin-bottom: 0px;
    padding-bottom: 1rem;
}

h5 {
    font-family: "Bree Serif", sans-serif;
}

.tituloIndex h1 {
    font-size: 60px;
    font-family: "Bree Serif", sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: $color-verde;
    text-shadow: 2px 2px 2px black;
}