.tituloProductos h2 {
    font-size: 50px;
    font-family: "Bree Serif", sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: #56A689;
    text-shadow: 2px 2px 2px black;
}

.card {
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.colorBtn {
    background-color: #56A689;
    color: #fafafa;
    font-size: 15px;

    &:hover {
        background-color: #F294AD;
        color: #fafafa;
    }
}